﻿@using PersonManagement.WEB.ViewModels
@model PersonsListViewModel

@{
    ViewBag.Title = "Persons list";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/js/Views/People/Index.js"></script>

}

<h2>Person management web application</h2>

<form asp-page="/Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by name:
            <input type="text" name="searchstring" value="@Model.CurrentSearchString" />
            <input type="submit" value="Search" class="btn btn-primary" /> | <a class="btn btn-outline-secondary" href="/" role="button">Clear</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.PaginatedList != null && Model.PaginatedList.Any())
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaginatedList.First().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaginatedList.First().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaginatedList.First().PersonalNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaginatedList.First().Birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaginatedList.First().Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaginatedList.First().Salary)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.PaginatedList)
            {
                <tr data-person-id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a href="javascript:void(0)" class="js-delete-button" data-person-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@{
    var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
}

Page @(Model.PaginatedList.PageIndex) of @(Model.PaginatedList.TotalPages)
<a href="/People/Index?page=@(Model.PaginatedList.PageIndex-1)&searchstring=@(Model.CurrentSearchString)"
   class="btn btn-default @prevDisabled">Prev</a>
<a href="/People/Index?page=@(Model.PaginatedList.PageIndex+1)&searchstring=@(Model.CurrentSearchString)"
   class="btn btn-default @nextDisabled">Next</a>
