﻿body {
    color: #1a2358;
}

.text-danger {
    color: #d91c5c !important;
}

h2 {
    font-size: 26px;
    color: #d91c5c;
}

.sidebar {
    width:25%;
    height:100%;
    position:fixed;
    border-right:dashed black 1px;
}

.main {
    margin-left:25%;
}