﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="card-header">
        <div class="text-center"><h5>somekind of header</h5></div>
    </div>
    <div class="sidebar">
        <div class="text-center"><h2>25% sidebar</h2></div>
    </div>
    <div class="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>